#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

canvas {
  width: 800;
  height: 800;
  border-radius: 50px;
  aspect-ratio: 1/1;
  border: 1px solid black;
}

#Flower_img {
  display: none;
}

.DownloadButton {
  border-style: groove;
  border-width: 2px;
  border-radius: 5px;
  color: grey;
  background-color: rgb(211, 211, 211);
  border-color: rgb(143, 137, 137);
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.DownloadButton:hover {
  box-shadow: 0 0 20px rgba(173, 216, 230, 0.6);
  background-color: #f0faff;
}
